/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

min-inline-size: 375px;
block-size: 100%;
font-family: var(--main-font, 'IBM Plex mono'), Courier, 'Roboto Mono', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 23.4px;
color: var(--article-title-color, #000028);
background-image: url(../images/cover-image-dark.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

}

.content-section {
  padding: 0 var(--content-padding, 10px);
}

.header,
.decorated-zone {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-block-size: 100vh;

  align-items: flex-end;
  padding: var(--content-padding, 10px);
}

.decorated-zone {
  position: relative;
  color: var(--section-title-color,#FF0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  background-color: inherit;
  inset-block-start: var(--content-padding, 10px);
  inset-inline-end: var(--content-padding, 10px);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  background-color: inherit;
  inset-block-end: var(--content-padding, 10px);
  inset-inline-start: var(--content-padding, 10px);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid;
  border-inline-start: 1px solid;
}

.header__theme-menu {
  position: relative;
  display: flex;
  max-inline-size: 100%;
  justify-content: center;
  padding-block-start: 25px;
}

.header__theme-menu::before {
  content: "REC";
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: 2px;
  inline-size: 33px;
  block-size: 26px;
  color: var(--section-title-color, #FF0070);
}

.header__theme-menu::after {
  content: "";
  position: absolute;
  inset-inline-end: 8px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--section-title-color, #FF0070);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--section-title-color, #FF0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 39px;
  margin-block-end: 67px;
  color: var(--section-title-color, #FF0070);
 
}
 
.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  background-color: transparent;
  text-transform: lowercase;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title-color, #FF0070);
  pointer-events: none;
  cursor: auto;
}

/* состояния   */

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color, #FF007066);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--section-title-color,#FF0070);
}

.header__title {
  display: inline-block;
  max-inline-size: var(--header-title-width, 355px);
  margin-block-end: 55px;
  font-size: var(--header-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: 700;
  line-height: 95.7px;
  align-self: flex-start;
  color: var(--header-title-color,#DB00FF);
  text-shadow: 4px 4px 0 var(--header-title-shadow-color, #FF0070);
}

.header__subtitle {
  max-inline-size: var(--header-subtitle-width, 355px);
  margin-block-end: 56px;
}

.title-decor {
  color: var(--article-title-color, #000028);
  background-color: var(--bg-accent-color, #FF0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
  padding-block: var(--content-block-padding, 40px);
  gap: var(--content-gap, 50px);
}

.section_title {
  inline-size: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--section-title-color, #FF0070);
}

.section_article-title {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.content-section:has(.gallery) .section_article-title {
  margin-block-start: 0;
}

.section_article-subtitle {
  margin-block-start: 20px;
  margin-block-end: 10px;
  font-weight: 400;
}

.section_article-text {
  color: var(--article-text-color, #F1B2CE);
}

.section_article-link {
  text-shadow: 1px 1px 0 var(--header-title-shadow-color, #FF0070);
  text-decoration: none;
}

.section_article-link:hover {
  border-block-end: 1px solid var(--article-text-color, #F1B2CE);
}

.section_article-link:focus-visible {
  outline: 1px solid var(--article-text-color, #F1B2CE);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--content-padding, 10px);
  max-width: calc(100vw - var(--content-padding, 10px) * 2)
}

.picture {
  inline-size: 100%;
  margin-block-end: 0;
}

.section_image:last-child {
  margin-block-end: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  block-size: var(--footer-block-size, 667px);
  padding-block: var(--content-padding, 10px);
  justify-content: center;
  }

.footer__title {
  font-size: var(--header-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-weight: 700;
  line-height: 95.7px;
  color: var(--header-title-color,#DB00FF);
  text-shadow: 4px 4px 0 var(--header-title-shadow-color, #FF0070);
  align-self: center;
  
}

@media screen and (min-width: 767px) {

  .header__theme-menu-list {
    margin-block-start: 146px;
    margin-block-end: 178px;
  }

  .header__title {
    margin-block-end: 162px;
    margin-inline-start: -20px;
  }

  .header__subtitle {
    margin-block-end: 163px;
  }
  
  .section-problem,
  .section-advices {
    display: grid;
    max-width: max(var(--page-width, 768px), 100vw);
    grid-template-columns: 1fr 2fr;
    column-gap: var(--content-padding, 20px);
    row-gap: var(--content-padding, 20px);
  }
  
  .section_title:nth-child(1) {
    display: inline-block;
    max-inline-size: calc((var(--page-width, 768px) - var(--content-padding, 20px) * 3) / 3 );
  }

  .section_article-title:first-child {
    margin-block-start: 0;
  }

  .problem-article:last-child {
    grid-row: 2;
    grid-column: 2;
  }


  .section-troubles {  
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-gallery .section_article-title {
    margin-block-end: 20px;
  }

  .gallery {
    display: grid;
    max-width: max(var(--page-width, 768px), 100vw);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .sunset-image {
    grid-area: sunset;
    object-fit: contain;    
  }

  .ice-cream-image {
    grid-area: ice-cream;
    block-size: 100%;
    object-fit: cover;
  }

  .books-image {
    grid-area: books;
  }

  .tape-image {
    grid-area: tape;
    block-size: 100%;
    object-fit: cover;
  }

  .street-image {
    grid-area: street;
  }
  
}

@media screen and (min-width: 1023px) {
  
  .header__theme-menu {
    flex-direction: row;
    inline-size: calc(100vw - var(--content-padding, 20px) * 2);
    max-block-size: 26px;
    justify-content: center;
    padding-block-start: 0;
    margin-block-end: 293px;
  }

  .header__theme-menu-list {
    margin-block-start: 0;
    margin-block-end: 0;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    margin-block-end: 130px;
  }

  .header__subtitle {
    margin-block-end: 114px;
  }

  .section-problem {
    display: grid;
    max-width: max(var(--page-width, 1024px), 100vw);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "header article-4 article-4"
    "header article-5 article-5";
    column-gap: var(--content-padding, 20px);
  }

  .problem-article {
    grid-area: article-4;
  }

  .problem-article:last-child {
    grid-area: article-5;
  }


  .section-troubles {
    display: grid;
    max-width: max(var(--page-width, 1024px), 100vw);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "header header header"
    "article-1 article-2 article-3";
    column-gap: var(--content-padding, 20px);
  }

  .section-troubles .section_title {
    grid-area: header;
  }

  .section-advices {
    display: grid;
    max-width: max(var(--page-width, 1024px), 100vw);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header article-6 article-6";
    column-gap: var(--content-padding, 20px);
  }

  .advice-article {
    grid-area: article-6;
  }

}